<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>St. Paul Crime API </title>
 
	<!-- this is the css of leaf let -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
	integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
	crossorigin=""/> 
   
   <!-- this is the js for the left let -->
   	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   	integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  	crossorigin=""></script>
   	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script type="application/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="application/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css">

	<link rel="stylesheet" href="css/index.css" ><link>
	<link rel="stylesheet" href="css/normalize.css" ><link>
</head>
<body onload="Prompt()">
   
	<div id="dialog-form">
        <label for="name">URL for St. Paul Crime API:</label>
        <input type="text" id="prompt_input" class="text ui-widget-content ui-corner-all" style="width: 320px;"/>
    </div> 
	<div id=wrapper>
		<div id="header">
			<h1> St.Paul Crime </h1>
			<p><a href="index.html">Project </a> | <a href="about.html">About Us</a></p>
		</div>

		<!-- the search bars  -->
		<div id= "searchBox">	
			<!-- Lat/Lng -->
			<button @click='toogleLatLog = !toogleLatLog'>Lat/Log</button><br>
			<div v-show="!toogleLatLog"> 
				<p> Please input  Lan. and Long. below  </p>
				<input type="number" v-model="lat">
				<input type="number"  v-model="lng">
				<button onclick="coorIntoAddress()"> Enter </button>
			</div>
			<!-- adress -->
			<button @click='toogleAdd=!toogleAdd'>Address</button>
			<div v-show = "!toogleAdd"> 
				<p> Please enter your address<p>
				<input type="text"  v-model="address">
				<button onclick="addressIntoCoor()"> Enter </button>
			</div>
		</div>

		<!-- the map  -->
		<div id="mapid"> </div>

		<!-- Vue app  -->
		<div id="app"> 
				<!-- filter -->
				<button @click='toggleFilter = !toggleFilter; filterCounter =+ 1' id="first"> Filter  </button>				
				<div v-show='!toggleFilter'> 
					<ul >
						<!-- all filters -->
						<button @click='toggleTime = !toggleTime'> Time </button>
						<button @click='toggleDate = !toggleDate'> Date </button>
						<button @click='toggleIncident= !toggleIncident'> Incident </button>
						<button @click='toggleNeighbor = !toggleNeighbor'> Neighborhoods</button>
						<!-- time -->
						<li  v-show='!toggleTime' >
						<label for="start">Start Time:</label>
						<input type = "time"  min="00:00:00" max = "23:59:59" v-model= "startTime" @change= "updateTotalIncidents()"> <br>
						<label for="end"> End Time:</label>
						<input type = "time"  min="00:00:00" max = "23:59:59" v-model="endTime" @change= "updateTotalIncidents()"> <br>
						</li>
						<!-- calendar -->
						<li  v-show='!toggleDate' >
						<label for="start">Start Date:</label>
						<input type="date"   min="2014-08-14" max="2019-10-31" v-model= "form.startDate" @change="dateChange"> <br>
						<label for="end">End Date:</label>
						<input type="date"   min="2014-08-14" max="2019-10-31" v-model="form.endDate" @change="dateChange"><br>
						</li>
						<!-- checklist for incident -->
						<li v-for="(incident_type,key) in codes" v-show='!toggleIncident'>
						{{ incident_type}}
						<input type="checkbox"   @change= "populateIncidents()" v-model="checked[key.substring(1)]" />
						</li>
						<!-- checklist for neighborhoods -->	
						<li v-for="(neighborhood_name,key) in neighborhoods" v-show='!toggleNeighbor' >
						{{ neighborhood_name}}
						<input type="checkbox"  v-model="checked[key.substring(1)]" />
						</li>
					</ul>
				</div>

				<!-- legend is being created -->
				<form>
					<fieldset>
						<legend>Crime Colors</legend>
						Personal Crime: Grey <br>
						Violent Crime: Red <br>
						Property Crime: Blue<br>
						Other: Green 
					</fieldset>
				</form>

		
		<!-- the table of data  -->
		<table id='firstTable'>
				<thead>
					<tr>
						<th> Date</th>
						<th> Time</th>
						<th> Incident</th>
						<th> Code</th>
						<th> Incident</th>
						<th> Police Grid</th>
						<th> Neighborhood Number</th>
						<th> Block</th>
					</tr>
				</thead>
				<tbody >
					<tr v-for="(row,key) in incidents" v-if="(checked[row.neighborhood_number] && checked[row.code]) && (row.time >= startTime && row.time <= endTime)" @click="randFunct(row)" v-bind:class=" crimeRows(row.incident)">
						<td>{{row.date}}</td>
						<td>{{row.time}}</td>
						<td> {{key}}</td>
						<td>{{row.code}}</td>
						<td>{{row.incident}}</td>
						<td>{{row.police_grid}}</td>
						<td>{{row.neighborhood_number}}</td>
						<td>{{row.block}}</td>
					</tr>
				</tbody>	
			</table>
		</div>
	</div>

		


<script type="application/javascript">
		function Prompt() {
            $("#dialog-form").dialog({
                autoOpen: true,
                modal: true,
                width: "360px",
                buttons: {
                    "Ok": function() {
                        var prompt_input = $("#prompt_input");
                        Init(prompt_input.val());
                        $(this).dialog("close");
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                }
            });
        }
	
			var searchBox = new Vue({
				el:"#searchBox",
				data:{
					lat:44.965272,
					lng: -93.104732,
					address:"",
					toogleLatLog:true,
					toogleAdd:true
				}
			});
			var newIcon = L.icon({iconUrl: 'location-pin.svg', iconSize: [40,40]});
			var addressMarker = L.icon({iconUrl: 'home.svg', iconSize: [40,40]});
			var marker;
			var locations = [
					["Conway/Battlecreek/Highwood",44.927682,-93.026969],
					["Greater East Side",44.979412,-93.027130],
					["West Side",44.928185, -93.092870],
					["Dayton's Bluff",44.951677,-93.060792],
					["Payne/Phalen",44.982648,-93.066961],
					["North End",44.982424,-93.117494],
					["Thomas/Dale(Frogtown)",44.959133, -93.131401],
					["Summit/University",44.950551,-93.136059],
					["West Seventh",44.929653, -93.131413],
					["Como", 44.980167,-93.141662],
					["Hamline/Midway",44.963469,-93.158237],
					["St. Anthony", 44.971234, -93.198223],
					["Union Park", 44.948230, -93.189333],
					["Macalester-Groveland", 44.930514, -93.182059],
					["Highland", 44.917279, -93.159709],
					["Summit Hill", 44.936637, -93.139830],
					["Capitol River",44.957940, -93.103392]	
				];
	 	// Script for adding marker on map click
				 var mymap= L.map('mapid').setView([searchBox.lat, searchBox.lng],12);

				 var popup = L.popup();
				 var curl;
					function Init(crimeAPIURL)
					{
						curl = crimeAPIURL;
						createMap();
						createMarkers();
						createTable();
						
					}
					function createMap()
					{
						L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
						attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
						maxZoom: 17,
						minZoom:12,
						center: [searchBox.lat, searchBox.lng],
						id: 'mapbox/streets-v11',
						draggable: false,
						accessToken: 'pk.eyJ1IjoibWl0emlidXN0YW1hbnRlIiwiYSI6ImNrM3VkOGoyYjBja2MzdG1yMzd6anEzYTIifQ.H2RDitN6lPMzEf2n_Ag9Ng'
						}).addTo(mymap);
						var nWest = L.latLng(44.967595, -93.192643);
						var sEast = L.latLng(44.940768, -93.044095);
						var myBounds = L.latLngBounds(nWest, sEast);
						mymap.setMaxBounds(myBounds);	
						var polygon = L.polygon([
							[44.890754, -93.003751],
							[44.921335, -93.048377],
							[44.919512, -93.130088],
							[44.888386, -93.177123],
							[44.987541, -93.206992],
							[44.990698, -93.006492],
							]).addTo(mymap);
					}
					
				var numIncidents; 
				var markers = [[]];
			
				function createMarkers()
				{
					for (let i = 0; i < locations.length; i++) {
						markers[i] = new L.marker([locations[i][1],locations[i][2]])
						.addTo(mymap);
					}

				}
				//changing the address
				function addressIntoCoor(){
					var nAddr = searchBox.address.replace(/\s/g, "%20");
					var url = "https://nominatim.openstreetmap.org/search?format=json&limit=1&state=Minnesota&city=Saint%20Paul&street=" + nAddr;
					//console.log(url);
					$.getJSON(url, function(data){
						searchBox.lat = data[0]["lat"];
						searchBox.lng = data[0]["lon"];
					});
					updateMap();
				}

				function coorIntoAddress(){
				var url = "https://nominatim.openstreetmap.org/reverse?format=json&lat="+searchBox.lat+"&lon="+searchBox.lng;
				$.getJSON(url, function(data){
						searchBox.address = "";
						if(data["address"]["house_number"] != null)
						{
							searchBox.address = data["address"]["house_number"];
						}
						searchBox.address = searchBox.address +  " " + data["address"]["road"];
					});
					//console.log(searchBox.address);
					updateMap();
				}
				function populateIncidents()
				{
					numIncidents={1:0, 2:0, 3:0, 4:0, 5:0, 6:0, 7:0, 8:0, 9:0, 10:0, 11:0, 12:0, 13:0, 14:0, 15:0, 16:0, 17:0};
					
					for(let j in app.incidents)
					{
						//console.log(app.incidents[j]["code"]);
						if(app.checked[app.incidents[j]["code"]] && (app.incidents[j]["time"] >= app.startTime && app.incidents[j]["time"] <= app.endTime))
						{
							numIncidents[Number(app.incidents[j]["neighborhood_number"])] = numIncidents[Number(app.incidents[j]["neighborhood_number"])] + 1;
						}
						
					}
					for (let i = 0; i < markers.length; i++) {
						markers[i].bindPopup(locations[i][0] + ": <br /> Crime Number:" + numIncidents[i+1]);
					}

				}
				
				// rough outline of st.paul 
			

				//get the search input to change when the map is being moved 

	
				function getCenter(){
					var currentCenter = mymap.getCenter();
					var bounds = mymap.getBounds();
					searchBox.lat = currentCenter.lat;
					searchBox.lng = currentCenter.lng;					
				}
				// when clicked it give you the coor.lat/lng
				
				mymap.on('click',function(e){
					//console.log()
					popup.setLatLng(e.latlng).setContent("You have clicked on the map at" + e.latlng.toString()).openOn(mymap);
				});
				// get the coor after it stop zooming 
				mymap.on('zoomend', function() {
						getCenter();
				});

				//get the coor after it's stop dragged 
				mymap.on('dragged', function() {
					getCenter();
				});

				

				function randFunct(data)
				{
					var markerEl = document.createElement("div");
					var markerTitle = document.createElement("p");
					var markerButton = document.createElement("button");
					markerTitle.textContent = "date: " + data.date + " time: " + data.time + " incident:" +  data.incident;
					markerButton.type = "button";
					markerButton.textContent = "Delete";
					markerButton.className = "deleteMarker";
					markerEl.appendChild(markerTitle);
					markerEl.appendChild(markerButton);
					searchBox.address = data.block;
					addressIntoCoor();
					var mark = new L.marker([searchBox.lat, searchBox.lng],{icon: addressMarker}).addTo(mymap);
					mark.bindPopup(markerEl);
					mark.on('mouseover', function(e){
						this.openPopup();
					});
					markerButton.onclick=function(){
						console.log(mark);
						mymap.removeLayer(mark);
					};
				}

				//searck lat.lng works - puts markers
				function updateMap (){
					mymap.panTo(new L.latLng(searchBox.lat,searchBox.lng));
				}

			
				
		</script>	
		
		<script type="application/javascript">
			var app;
			function createTable()
			{
				app = new Vue({
				el:"#app",
				data:{
					form:{
						startDate:"2019-10-01",
						endDate:"2019-10-31"
					},
					codes:{},
					startTime:"00:00:00",
					endTime:"23:59:59",
					neighborhoods:{},
					checked:{},
					incidents:{},
					toggleFilter:true,
					filterCounter:0,
					toggleTime:true,
					toggleDate:true,
					toggleIncident:true,
					toggleNeighbor:true,
					
				},
				
			});
			var promise1 = new Promise ((resolve, reject) => {
				$.getJSON(curl + "/codes", function(data){
				
					resolve(data);
			})
			});
		
			//get the data from neighborhoods
			var promise2 = new Promise ((resolve, reject) => {
			$.getJSON(curl + "/neighborhoods", function(data){
				resolve(data);
			})
			});
			var promise3 = new Promise ((resolve, reject) => {
			$.getJSON( curl + "/incidents?start_date=" + app.form.startDate + "&end_date=" + app.form.endDate, function(data){
				
				resolve(data);
			})
			});
			Promise.all([promise1, promise2,promise3]).then(results => {
				app.codes = results[0];
				let tmp = {};
				for(let j in results[0])
				{	
					tmp[parseInt(j.substring(1))] = true;

				}

				app.neighborhoods = results[1];


				for(let j in results[1])
				{	
					tmp[parseInt(j.substring(1))] = true;
					
				}
				app.checked = tmp;
				app.incidents = results[2];
				populateIncidents();
				
				});
			}

			function crimeRows (crimeName){
				var lowCrimeName = crimeName.toLowerCase();
				//personal crime
				if(lowCrimeName.includes('rape') || lowCrimeName.includes('assault') || lowCrimeName.includes('narcotics') || lowCrimeName.includes('asasult')){
					return "personal";
					//violent crme
				}else if(lowCrimeName.includes('murder') || lowCrimeName.includes('arson') || lowCrimeName.includes('weapon') || lowCrimeName.includes('discharge')){
					return "violent";
					//personal
				}else if(lowCrimeName.includes('theft') || lowCrimeName.includes('burglary') || lowCrimeName.includes('robbery')|| lowCrimeName.includes('graffiti')||lowCrimeName.includes('property') || lowCrimeName.includes('vandalism')){
					return "property"
				}else{
					return "other";
				}
			}
			function dateChange()
			{
				$.getJSON( curl + "/incidents?start_date=" + app.form.startDate + "&end_date=" + app.form.endDate, function(data){
					app.incidents = data;
					populateIncidents();
				});
			}
		</script>  
</body>
</html>
