@font-face {
	font-family: Handlee;
	src: url(handlee-regular.ttf);
}
/* *{
	font-family: Handlee;
	
} */
body{
	background-color: #DCEEF2;
	font-family: Handlee;
}
#mapid {
	 height: 600px; 
	 width: 600px; 
	 float: right;
}
#input{
	text-align: right;
}
#wrapper{
	margin-left: 3em;
	margin-right: 3em;
}
#header{
	height: 3.5em;
	font-size: 1.7vw;
	text-align: center;

}

p{
	font-size: 20px;
}

#firstTable{float: left;}
table{ border-collapse: collapse;}
table, th, td { border: 1px solid black;}

