<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Index Page</title>
 
	<!-- this is the css of leaf let -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/> 
   
   <!-- this is the js for the left let -->
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
   <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script type="application/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="application/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>

	<link rel="stylesheet" href="css/index.css" ><link>
	<link rel="stylesheet" href="css/normalize.css" ><link>


	
</head>

	<body>
		<div id="header">
			<h1> St.Paul Crime </h1>
			 <p><a href="index.html">Project </a> | <a href="about.html">About Us</a></p>
		</div>

		
		<div id = "Incidents">
		</div>
		<!-- the map  -->
		<div id= "searchBox">
				<p> Please input your Lan. and Long. infromation here </p>
				<form>
						Latitude:<br>
						<input type="text" name="latitude" id = "lat" value = "44.9"><br>
						Longitude:<br>
						<input type="text" name="longitude" id = "lon" value = "-93.09">
				</form>
				<button onclick = "myfunct()"> Submit</button>
				<form>
						<p> Please enter your address<p>
						<input type="text" name="adsress">
				</form>
				<button onclick = "myfunct()"> Submit</button>
		</div>


		
		
		<!-- the map  -->

		<div id="mapid">
		</div>
		<div id= "date-picker"> </div>
		<!-- check list  -->
		<div id="app"> 
				<div id="button">
						<button @click='toggle = !toggle' id="first"> Filter  </button>
						
				</div>
				<div v-show='!toggle'  id="app">
						
					<ul >
						<!-- checklist for incident -->
						<button @click='toggle = !toggle' id="first"> Incident </button>
						<li  v-if="first" v-for="(incident_type,key) in codes" v-show='!toggle' v-if="first" >
						{{ incident_type}}
						<input type="checkbox" v-model="checked[key.substring(1)]"/>
						</li>
						<!-- checklist for neighborhoods -->	
						<button @click='toggle = !toggle'> Neighbirhoods</button>
						<li v-for="(neighborhood_name,key) in neighborhoods" v-show='!toggle' >
						{{ neighborhood_name}}
						<input type="checkbox" v-model="checked[key.substring(1)]"/>
						</li>


					</ul>
				</div>

				<!-- <ul >
						<li v-for="(incident_type,key) in codes" v-show='!toggle' >
						  {{ incident_type}}
						  <input type="checkbox" v-model="checked[key.substring(1)]"/>
						</li>
						<li v-for="(neighborhood_name,key) in neighborhoods" v-show='!toggle' >
								{{ neighborhood_name}}
								<input type="checkbox" v-model="checked[key.substring(1)]"/>
						</li>
				</ul> -->
					  <div style="clear:both;"></div>

	
		<!-- the table of data  -->
		<table id='firstTable'>
				<thead>
					<tr>
						<th> Date</th>
						<th> Time</th>
						<th> Code</th>
						<th> Incident</th>
						<th> Police Grid</th>
						<th> Neighborhood Number</th>
						<th> Block</th>
					</tr>
				</thead>
				<tbody >
					<!---v-if="app.checked[row.neighborhood_number] || app.checked[row.incident]"-->
					<tr v-for="row in incidents" v-if="checked[row.neighborhood_number] || checked[row.code]">
					<!---<td>{{row}}</td>--->

						<td>{{row.date}}</td>
						<td>{{row.time}}</td>
						<td>{{row.code}}</td>
						<td>{{row.incident}}</td>
						<td>{{row.police_grid}}</td>
						<td>{{row.neighborhood_number}}</td>
						<td>{{row.block}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script>
			var exports = {};
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css">
		<script src="https://unpkg.com/leaflet-drift-marker@1.0.3/lib/DriftMarker/Drift_Marker.js"></script>
		<script src="https://unpkg.com/leaflet@1.3.0/dist/leaflet.js"></script>
		<script src="https://unpkg.com/@livelybone/vue-datepicker/lib/umd/<--module-->.js"></script>


<script>
	 	// Script for adding marker on map click
	 	
				var lat = document.getElementById("lat").value;
				var long = document.getElementById("lon").value;
				
				var osmUrl = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
				osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
				osm = L.tileLayer(osmUrl, {
				maxZoom: 18,
				attribution: osmAttrib
				});
				//var map = L.map('map').setView([19.04469, 72.9258], 1).addLayer(osm);
				var mymap = L.map('mapid').setView([44.9,-93.09],16).addLayer(osm); //maps the center of St.Paul MN
				mymap.setMinZoom(11);
				var marker = new Drift_Marker([44.9,-93.09], {
					draggable: true,
					title: "Resource location",
					alt: "Resource Location",
					riseOnHover: true
	 	    		}).addTo(mymap)
	 	        .bindPopup("test").openPopup(); //delete button 
				//marker.bindPopup("<b>Incident!</b><br>date and time and delete button.").openPopup();

				L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
				attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
				maxZoom: 18,
				id: 'mapbox/streets-v11',
				maxBounds: [
                    [44.890591, -93.207777],
                    [44.991925, -93.004938]
                ],
				accessToken: 'pk.eyJ1IjoibWl0emlidXN0YW1hbnRlIiwiYSI6ImNrM3VkOGoyYjBja2MzdG1yMzd6anEzYTIifQ.H2RDitN6lPMzEf2n_Ag9Ng'
				}).addTo(mymap);
				var popup = L.popup();
				
				function onMapClick(e) {
					marker.slideTo(	e.latlng, {
					duration: 2000
					});
				}
					mymap.on('click', onMapClick);
					marker.slideTo(	[10, 10], {
					duration: 2000
				});
				var markersLayer = new L.LayerGroup();  
				/*mymap.addLayer(markersLayer); 
				var latlong = (function(){
					dest: {
						long: 0,
						lat: 0
					};
				return {

				}
				});
				
				)**/
				console.log(lat + ":" + long);
				// add the search bar to the map
				/*var controlSearch = new L.Control.Search({
					position:'topleft',    // where do you want the search bar?
					layer: markersLayer,  // name of the layer
					initial: false,
					zoom: 11,        // set zoom to found location when searched
					marker: false,
					textPlaceholder: 'search...' // placeholder while nothing is searched
				});
				
				mymap.addControl(controlSearch); // add it to the map
				L.control.scale().addTo(map);

        // Control 3: This add a Search bar
            var searchControl = new L.esri.Controls.Geosearch().addTo(map);

            var results = new L.LayerGroup().addTo(map);

              searchControl.on('results', function(data){
                results.clearLayers();
                for (var i = data.results.length - 1; i >= 0; i--) {
                  results.addLayer(L.marker(data.results[i].latlng));
                }
              });*/


			  //coor. for neighboohoor
			 
						// name: "Conway/Battlecreek/Highwood"
						// lat: 44.927682
                        // lng: -93.026969
                       
						// name: "Greater East Side"
						// lat: 44.979412
                        // lng: -93.027130
                        
						// name: "West Side"
						// lat: 44.897965
                        // lng: -93.081430
                        
						// name: "Dayton's Bluff"
						// lat: 44.951677
						// lng: -93.060792,
                        
						// name: "Payne/Phalen"
						// lat: 44.982648
						// lng: -93.066961
                       
						// name: "North End"
						// lat: 44.982424
						// lng: -93.117494
                        
						// name: "Thomas/Dale(Frogtown)"
						// lat: 44.959133
						// lng: -93.131401
                        
						// name: "Summit/University"
						// lat: 44.950551
						// lng: -93.136059
                        // selected: true
				
						// name: "West Seventh"
						// lat: 44.929653
						// lng: -93.131413
                        
						// name: "Como"
						// lat: 44.980167
						// lng: -93.141662
                       
						// name: "Hamline/Midway"
						// lat: 44.963469
						// lng: -93.158237
                        
						// name: "St. Anthony"
						// lat: 44.971234
						// lng: -93.198223
                        
						// name: "Union Park"
						// lat: 44.946046
						// lng: -93.200321
                       
						// name: "Macalester-Groveland"
						// lat: 44.930514
						// lng: -93.182059
                        
						// name: "Highland"
						// lat: 44.917279
						// lng: -93.159709
                        
				
						// name: "Summit Hill"
						// lat: 44.936637
						// lng: -93.139830
                        
						// name: "Capitol River"
						// lat: 44.957940
						// lng: -93.103392
                        

		</script>	
		<script type="application/javascript">


			var app = new Vue({
				el:"#app",
				data:{
					codes:{},
					neighborhoods:{},
					checked:{},
					incidents:{},
					toggle: true
				}
			});
			import * as VueDatepicker from '@livelybone/vue-datepicker';
			Vue.component('datepicker', Datepicker);

			new Vue({
				components:{Datepicker, Timepicker, DatetimePicker}
				});
			var popperProps = {
				popperOptions: {
				modifiers: {
				preventOverflow: {
				padding: 20
				}
				},
				onUpdate: function (data) {
				console.log(JSON.stringify(data.attributes))
				}
				}
			}
				var datepicker = new Vue({
					el: '#date-picker',
					template: '<datepicker :value="date"' +
					'                      @input="log"' +
					'                      min="2014-08-14"' +
					'                      max="2019-10-31"' +
					'                      :dayStr="dayStr"' +
					'                      :scrollbarProps="{isMobile: isM}"' +
					'                      :popperProps="popperProps"/>',
					data: function () {
					return {
					dayStr: ['7', '1', '2', '3', '4', '5', '6'],
					date: '2019-10-01',
					isM: isM,
					popperProps: popperProps
					}
					},
					methods: {
					log: function (val) {
					this.date = val
					console.log(val)
					}
					},
					components: { 'datepicker': VueDatepicker.Datepicker }
				});


			
			
			//gets the date codes
			$.getJSON("http://localhost:8000/codes", function(data){
				app.codes = data;
			});
			//get the data from neighbirhoods
			$.getJSON("http://localhost:8000/neighborhoods", function(data){
				app.neighborhoods = data;
			});
			$.getJSON("http://localhost:8000/incidents?start_date=2019-10-01&end_date=2019-10-30", function(data){
				//console.log(data);
				app.incidents = data;
				//console.log(firstTable.rows);
			});
			
		</script>  
	</body>
</html>
